@import url('./jquery-ui.min.css');
@import url('./summernote.css');

#ComiXEditor {
    width:100%;
    min-height:600px;
    background-color:#ccc;
    border-radius:5px;
    color:#555;
    overflow:hidden;
}

.comix{
    overflow:auto;
}

.comix .canvas{
    margin:auto;
    clear:both;
    background-color:#fff;
    color:#000;
    display:none;
}

.comix .canvas.active{
    display:block;
}

.comix .phone{
    width:400px;
    height:600px;
}

.comix .tablet{
    width:700px;
    height:1024px;
}

.comix .desktop{
    width:1280px;
    height:1024px;
}

.comix .canvas div.canvas-asset {
    position:relative;
    top:0;
    left:0;
    width:16.667%;
    min-height:100px;
    font-size:0.75em;
    color: #fff;
    overflow:hidden;
    background: #5cb85c;
    border-color:#4cae4c;
    border-radius:4px;
}

.comix .canvas .canvas-asset.active img{
    opacity:0.7;
}

.comix .canvas .canvas-asset .transition{
    position:relative;
    top:0;
    left:0;
    height:100px;
    width:150px;
    overflow:auto;
    float:left;
    color:#fff;
    background:#5bc0de;
    border-radius:4px;
    border-color:#46b8da;
    margin-bottom:-99.99px;
    z-index:90
}

.comix .canvas div.canvas-asset img{
    border:0;
    clear:both;
    display:block;
    width:100%;
}

.note-editable h1, .note-editable h2, .note-editable h3, .note-editable h4, .note-editable h5, .note-editable h6 {
    color:#000;
    font-family:"Arial Narrow",Arial,Helvetica,"Lucida Sans",sans-serif;
}

.note-editable p {
    color:#000;
    font-family:"Arial Narrow",Arial,Helvetica,"Lucida Sans",sans-serif;
}

.note-editable a:link, .note-editable a:visited, .note-editable a:active, .note-editable a:hover{
    color:#333;
    text-decoration:underline,
}